<div class="booyah-box col-10 offset-1 about">
  <h1>About Calvin and Hobbes: Remixed</h1>

  <p>
    C+H: Remixed was thought up by <a target="_blank" href="http://github.com/jbhead">Josh</a> after playing around with a Peanuts desktop calendar and a pair of scissors. He threw all the individual panels into a box and pulled them out one at a time to try to make something completely weird and funny. He decided to try it online with Calvin and Hobbes comics since he was such a huge fan as a kid. Josh hopes you'll have as much fun with it as he did. 
  </p> 
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h1 class="text-center">Joshua Head</h1>
      <br />
      <p>
        Joshua Head is a budding web developer and father of two. He previously worked in the telecommunications industry and logistics software as a backend systems operator. In his (little) spare time, he enjoys drawing, trivia, and harrassing his wife and children.

        <p>
          If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
      </p>
        
    </div>
  </div>
  <br class="clear" />
</div>