<!-- <h2 class="col-10 offset-1">C + H: Remixed</h2> -->


  <h2 class="col-10 offset-1">C + H: Remixed</h2>

  <div class="booyah-box col-10 offset-1">
     <%= image_tag @strip_panel.image.url %>



    <br />
    <div class="float-right">
      <%= link_to 'Transmogrify!', root_path, class: 'btn btn-primary' %>
    </div>
  </div>


</div>


  