@import "bootstrap";

 h2 {
  font-family: 'calvin_and_hobbesnormal';
  color: #C31830;
  margin:0;
  padding:0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar-brand {
  color: #18C3AB;
  font-family: 'calvin_and_hobbesnormal';
  font-size: 30px;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

body {
  background: image_url('stripes-light.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar-nav .nav-item .nav-link {
  color: #18C3AB;
  font-size: 22px;
  padding-bottom: 15px;
  padding-right: 15px;
}


h1 {
  font-family: 'calvin_and_hobbesnormal';
  color: #C31830;
  margin:0;
  padding:0;
}

h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.panels {
  max-width: 250px;
  max-height: 325px;
}